@import "https://unpkg.com/open-props/easings.min.css";
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
    /* spotify colors*/
    --spotify-green: #1ed760;
    --spotify-black: #121212;
    --spotify-white: #ffffff;
    --spotify-grey: #b3b3b3;
    --spotify-darkGrey: #222222;

    /* font family */
    --global-fontfamily: 'Manrope', sans-serif;
}

/* reset */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

img,
svg {
    display: block;
    max-width: 100%;
    height: auto;
}

/* global page styles */

html {
    color: var(--spotify-white);
    font-family: var(--global-fontfamily);
}

/* center everything */

body {
    background-color: var(--spotify-darkGrey);

    display: grid;
    place-items: center;

    min-height: 100vh;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/

.button-reset {
    border: none;
    margin: 0;
    padding: 0;
    width: auto;
    overflow: visible;
    background: transparent;

    /* inherit font & color from ancestor */
    color: inherit;
    font: inherit;

    /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
    line-height: normal;

    /* Corrects font smoothing for webkit */
    -webkit-font-smoothing: inherit;
    -moz-osx-font-smoothing: inherit;

    /* Corrects inability to style clickable `input` types in iOS */
    -webkit-appearance: none;
}

/*
    Toggle button
*/

/*
    Album
*/

.album{
    background-color: var(--spotify-black);
    max-width: 25rem;
    border-radius: 30px;
    padding: 2rem;
}

.album__img{
    border-radius: 10px;
}

.album__header{
    margin-top: 1.5rem;

    display: grid;
    grid-template-columns: auto 2.5rem;
    grid-template-rows: auto auto;
    gap: 0.5rem;
    grid-template-areas: 
    "title action"
    "artist action";
}

.album__title{
    grid-area: title;
}

.album__artist{
    grid-area: artist;
    opacity: 0.5;
}

.album__action{
    grid-area: action;
    /* height: 100%; */
    align-items: center;
    display: grid;
}

.icon--add{
    grid-row: 1;
    grid-column: 1;
    transform: rotate(0);
    transition: var(--ease-bounce-1);
    transition-duration: 0.3s;
    
}

.icon--check{
    grid-row: 1;
    grid-column: 1;
    opacity: 0;
    color: var(--spotify-green);
    transition: var(--ease-bounce-1);
    transition-duration: 0.3s;
    transform: rotate(45deg);
}

.added .icon--add {
    opacity: 0;
    transform: rotate(-45deg);
}

.added .icon--check {
    opacity: 1;
    transform: rotate(0);
}


/*
    Utitlities
*/

.color-grey {
    color: var(--spotify-grey);
}